@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #f67f7f, #9e62f2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  background: #808080;
}
#particles-js{
 position: fixed;
 z-index: 1;
 left:0;
 top:0;
 width: 100vw;
 height: 100vh;
 background: linear-gradient(90deg,#f67f7f  ,#9e62f2 );
}
